.container{
    text-align: center;
}
.container h3{
    font-size: 30px;
}
button{
    padding: 30px;
    font-size: 30px;
    margin: 10px;
}

.container button:hover{
    background-color: gray;
    color: white;
}
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}